.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.7rem;
  margin-top: 5rem;
}

.menuLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--text-over-primary);
  background: var(--primary);
  transition: all 0.2s ease-in-out;
  padding: 1.2rem;
  border-radius: 0.8rem;
}

.menuLink:hover {
  filter: brightness(70%);
}

.menuLink svg {
  width: 2.5rem;
  height: 2.5rem;
}

.menuLink > div {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
