* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.6rem /* 16px */;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(135deg, var(--gray-900), var(--gray-600));
  color: var(--text-default);
  transition: background-color 0.3s ease, color 0.3s ease,
    background-image 0.3s ease;
}

.container-fluid {
  max-width: auto;
}

.container {
  max-width: 98rem;
  margin: 0 auto;
}

.content {
  margin: 3.2rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

.formRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}
