.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  margin-top: 6.4rem;
}

.logoLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  font-weight: bold;
  font-size: 4.3rem;
  text-decoration: none;
  color: var(--primary);
  transition: all 0.2s ease-in-out;
}

.logoLink:hover {
  filter: brightness(70%);
}

.logoLink svg {
  width: 6.4rem;
  height: 6.4rem;
}
