.input {
  transition: all 0.2s ease-in-out;
  outline: none;
  text-align: center;
  background-color: transparent;
  border: none;
  font-size: 1.8rem;
  padding: 0.8rem;
  color: var(--text-default);

  border: 0.2rem solid transparent;
  border-bottom: 0.2rem solid var(--primary);
}

.input:focus {
  border-radius: 0.8rem;
  border: 0.2rem solid var(--primary);
}

.input::placeholder {
  color: var(--gray-400);
  font-size: 1.4rem;
  font-style: italic;
}

.input:disabled {
  color: var(--text-muted);
  border-bottom: 0.2rem solid var(--disabled);
}
