.button {
  transition: all 0.2s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.5rem;
  margin-top: 3.4rem;
  border: none;
  padding: 0.8rem 10rem;
  border-radius: 0.8rem;
  cursor: pointer;
}

.button svg {
  width: 3.2rem;
  height: 3.2rem;
}

.button:hover {
  filter: brightness(70%);
}

.red {
  background-color: var(--error);
  color: var(--text-over-error);
}

.green {
  background-color: var(--primary);
  color: var(--text-over-primary);
}
